PORT=8080

# Neon PostgreSQL Connection String (Paste your Neon connection link here)
# Example: postgres://neondb_owner:npg_xYz123@ep-sample-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgres://neondb_owner:npg_xYz123@ep-sample-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

JWT_SECRET="abtalks_neon_postgres_golang_secret_key_2026"
